In [1]:
import csv
from datetime import datetime
import numpy as np
import pandas as pd
import time 
from datetime import datetime
import os
from os import path

import ijson

## Import JSON

In [2]:
# jsons = ['../data/part_v003_o001_r_00001.json']
jsons = ['../data/part_v003_o001_r_00000.json', '../data/part_v003_o001_r_00001.json']

dfrts = []
dfors = []
for json in jsons:
    # Instance Preparation
    dates = []
    tweets = []
    
    start = time.time()
    # Load json file: date and tweet
    with open(json, 'r') as file:
        pet_parse = ijson.parse(file, multiple_values=True)
        for prefix, event, value  in pet_parse:
            if prefix == 'created_at':
                dates.append(datetime.strptime(value, '%a %b %d %H:%M:%S +0000 %Y'))
            if prefix == 'text':
                tweets.append(value)
    print ("Loadinf json elapsed_time:{0}".format(time.time() - start) + "[sec]")
    
    # Df
    data = np.vstack([dates, tweets]).T

    df = pd.DataFrame(data, columns=['date', 'tweet'])
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    df['day'] = df['date'].dt.day
    df['hour'] = df['date'].dt.hour
    df['date'] = df['date'].dt.date
    df['RT_flag'] = df['tweet'].str.contains('RT') # True if tweet containt 'RT', otherwise False

    # divide df by Original tweet and RT 
    dfrt = df[df['RT_flag'] == True]
    dfor = df[df['RT_flag'] == False]
    
    dfrts.append(dfor)
    dfors.append(dfor)

elapsed_time:1127.6700174808502[sec]
elapsed_time:707.399224281311[sec]

In [19]:
dfors

[               date                                              tweet  year  \
 1        2020-02-29  今夜は久しぶりに \nお月様を見れましたが、\n少し雲がかかって\nボンヤリ月でした\n☁🌛...  2020
 2        2020-02-29   長期的にはジャイロに慣れた方が良いんだけど、今回の大会しか見てないのかなってちょっと悲しくなった  2020
 3        2020-02-29               不二先輩の誕生日で言いたいことたくさんあるけど、上手くまとまらないね😭😭  2020
 5        2020-02-29  フェルナンドと遊ぼう\n・華麗なるフェルナンド\n・フェルナンドの憂鬱\n・翔べフェルナンド...  2020
 10       2020-02-29  @takukuroneko BLEEDは1の哀しいストーリーを見事に表現してるところが良いで...  2020
 ...             ...                                                ...   ...
 2057678  2020-02-26  ４０を過ぎたオジサンだけど孤独…\n誰かつながって…\n\n#依存\n#共依存\n#独占欲\...  2020
 2057679  2020-02-26  仕方ないので1回父親の脛蹴ってからめっちゃしょんぼりしてる弟なだめて不機嫌な父親無視してその...  2020
 2057680  2020-02-26                                            孤独にないた獣  2020
 2057682  2020-02-26            俺もそう思った。どうやら模擬戦をしていたようだが、ずいぶんと不機嫌な様子だった  2020
 2057684  2020-02-26  @ota_katu5 そ、なー！（それな\n曖昧すぎやし\n世論のこの空気嫌やわ\n無関係の...  2020

          month  day  hour  RT_flag
 1            2   29    14    False
 2            2   29    14    False
 3            2   29    14    False
 5            2   29    14    False
 10           2   29    14    False
 ...        ...  ...   ...      ...
 2057678      2   26    17    False
 2057679      2   26    17    False
 2057680      2   26    17    False
 2057682      2   26    17    False
 2057684      2   26    17    False

 [965750 rows x 7 columns],
                date                                              tweet  year  \
 0        2020-02-26  悲しくて記憶が曖昧だけどアレク様が最後に\n「一度しか言わないからよく聞け。俺の名前は大和ア...  2020
 1        2020-02-26  @Yeonjun__3 え～～～～まじですか！？！そんなの言ってもらって嬉しいです🥺‼ずっと...  2020
 3        2020-02-26  新しい相互できたときタイムラインに新しい名前があって2ヶ月くらいそわそわするしお迎えに行って...  2020
 4        2020-02-26  ガチッマチウデマエが上がらなくて失望していたときにオクト買ったからその時はいい気分転換になっ...  2020
 5        2020-02-26  自分から飛び込んだ世界。\nでもいつの間にかその世界でしか生きれなくなってた。\nその世界か...  2020
 ...             ...                                                ...   ...
 1512933  2020-02-23  @LKqQ0O2tEPMHupc @noiepoie @yumidesu_4649 @Abe...  2020
 1512935  2020-02-23  iPadAir2から新型iPad Proに買い換えて困った事と、その解決方法について書きまし...  2020
 1512936  2020-02-23  私はうんざりもできない。無知を嘲笑うのも嫌だし、勉強しないことを非難するのも嫌だし、最大多数...  2020
 1512937  2020-02-23  自分のことばかりいつも主張して 君の言葉なら上の空で聞いて ギターを弾いてた ぼんやりといつ...  2020
 1512942  2020-02-23  薬飲んだから酷くはないものの不安感は消えず、朝起きて薬の効果が切れたらきっとまた不安感に襲わ...  2020

          month  day  hour  RT_flag
 0            2   26    17    False
 1            2   26    17    False
 3            2   26    17    False
 4            2   26    17    False
 5            2   26    17    False
 ...        ...  ...   ...      ...
 1512933      2   23    19    False
 1512935      2   23    19    False
 1512936      2   23    19    False
 1512937      2   23    19    False
 1512942      2   23    19    False

 [862546 rows x 7 columns]]

In [27]:
# filetypes = ['T', 'D', 'A', 'V', 'F', 'C']
def findtwt(dfors, filetype="C"):
    # Prepartion of dfw 
    results = []
    dfs = []
    dfw = pd.read_csv('../data/WordTimeSeries.csv', encoding='utf-8').rename(columns={'Unnamed: 0': 'types',
                                                                                    'file name': 'file_name', 
                                                                                    'orignal form': 'orignal_form',
                                                                                    'English translation': 'English_translation'})
    booleanDictionary = {True: 'TRUE', False: 'FALSE'} # Drop nan and False in order to use query 
    dfw = dfw.replace(booleanDictionary)
    dfw = dfw.dropna(how='all')
    
    # Prepration of keywords
    filenames = [filename for filename in dfw.file_name.tolist() if filetype in filename]
    xd = {}
    xd['T'] = 'file_name.str.contains("T")'
    xd['D'] = 'file_name.str.contains("D")'
    xd['A'] = 'file_name.str.contains("A")'
    xd['V'] = 'file_name.str.contains("V")'
    xd['F'] = 'file_name.str.contains("F")'
    xd['C'] = 'file_name.str.contains("C")'
    
    query = xd[filetype]
    dfw_c = dfw.query(query, engine='python')
    keywords = dfw_c.orignal_form.tolist() # English.ver: keywords = dfw_c.English_translation.tolist() 
    
    # Find tweets
    for dfor in dfors:
        # Extract tweet
        dfor_c = dfor[dfor['tweet'].str.contains('|'.join(keywords))]
        
        for col, key in zip(filenames, keywords):
            l = []
            for row in dfor_c.itertuples():
                if key in row.tweet:
                    l.append(1)
                else:
                    l.append(0)
            dfor_c[col] = l
        
        # Make rows
        uni_dates = dfor_c['date'].tolist()
        uni_dates = sorted(set(uni_dates), key=uni_dates.index) # date values
        rows = []
        for date in uni_dates:
            d = {}
            d['date'] = str(date)
            for col in filenames:
                _df = dfor_c.groupby('date').get_group(date)
                d[col] = _df[col].sum()
            rows.append(d)
        
        # Make cols
        cols = filenames.copy()
        cols.insert(0, 'date')
        
        # Make dfs with rows and cols
        dft = pd.DataFrame(columns=cols)
        for row in rows:
            dft = dft.append(row, ignore_index=True)
        
        dfs.append(dft)

    # Finally Connect dfs
    for i, df in enumerate(dfs):
        if i == 0:
            dfnew = df
        else:
            dfnew = pd.concat([dfnew, df], axis=0)
            
    # Groupby and sort by date
    dfnew = dfnew.groupby('date').sum()
    
    return dfnew

# dfnew = findtwt(dfors, filetype="T")

In [26]:
# Save
outname = 'c_original.csv'
outdir = '../results/jp'

if not os.path.exists(outdir):
        os.makedirs(outdir)
    
savename = os.path.join(outdir, outname)    

dft.to_csv(savename)

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,...,T12,T13,T14,T15,T16,T17,T18,T19,T20,T21
date,,,,,,,,,,,,,,,,,,,,,
2020-02-23,673,486,196,402,699,218,466,206,208,40,...,10,9,33,17,34,6,3,19,23,16
2020-02-24,7752,4876,3246,5651,9406,2829,6654,3283,3420,518,...,139,111,328,157,488,41,60,128,317,160
2020-02-25,9122,6238,3479,5210,11693,3362,7785,3371,3462,585,...,137,104,293,148,561,45,60,131,317,135
2020-02-26,10608,5316,3950,4863,13843,4025,9274,3422,3625,784,...,189,164,299,148,631,75,48,153,318,122
2020-02-27,11899,6469,4443,4547,14894,5059,10891,3741,3708,790,...,218,161,271,137,677,77,55,176,324,137
2020-02-28,10102,6501,4644,4318,12666,4694,10539,3584,3628,749,...,250,144,263,145,572,62,58,138,306,140
2020-02-29,7104,2907,3324,4431,8268,3120,7229,2917,3645,416,...,181,104,259,117,405,55,47,126,246,114

In [123]:
# save to csv
outname = 'c_original.csv'
outdir = '../results/jp/day'

if not os.path.exists(outdir):
        os.makedirs(outdir)
    
fullname = os.path.join(outdir, outname)    

dft.to_csv(fullname)