In [1]:
import csv
from datetime import datetime
import numpy as np
import pandas as pd
import time 
from datetime import datetime
import os
from os import path
from glob import glob

import ijson
from tqdm import tqdm

# Read csv

In [2]:
# Mar data
zip_dir  = "../data/new_dfs_jst"
csvfiles = glob(os.path.join(zip_dir, 'dfor*'))

dfrts = []
for csvfile in csvfiles:
    df1 = pd.read_csv(csvfile).drop('Unnamed: 0', axis=1)
    dfrts.append(df1)

In [3]:
# Feb data
zip_dir  = "../data/new_dfs2_jst"
csvfiles = glob(os.path.join(zip_dir, 'dfor*'))

dfors = []
for csvfile in csvfiles:
    df = pd.read_csv(csvfile).drop('Unnamed: 0', axis=1)
    dfors.append(df)

In [28]:
df = dfors[8]

In [29]:
# *************************************************************

In [30]:
df.head()

,user_id,date,tweet,RT_flag,year,month,day,hour,time
0,2775144644,2020-03-07,ä¸æº€æ°—ãªæ§˜ã§ã ã‚‹ã æ¯ã‚’å¸ã„è¾¼ã‚€ä»•æ–¹ãªã„ãµã‚Šã§ ç¨ã¿åãå‡ºã™ãã‚ŒãŒç„¡é§„ã¨æ°—ã¥ã é«ªã‚’åˆ‡ã£ãŸæœ...,False,2020,3,7,4,04:47:58
1,1013069463120277504,2020-03-07,ä¼ãˆãŸã„ã‘ã©å®Œå…¨è¿·æƒ‘ã«ãªã‚‹ã£ã¦åˆ†ã‹ã£ã¦ã‚‹ã‹ã‚‰ä¼ãˆã‚Œãªã„ä¸å¿«ãªæ€ã„ã‚’ã•ã›ãŸããªã„å›°ã£ãŸè¡¨æƒ…ã«ã•...,False,2020,3,7,4,04:47:58
2,2561329940,2020-03-07,@Dragoooon1223 50åˆ†ãšã£ã¨è¦³å¯Ÿã—ã¦ã¦ã‚‚é£½ããªã„ï¼(à¹‘â€¢Ì€ã…‚â€¢Ì)Ùˆâœ§ãƒŠãƒ«ã‚¬ã¡...,False,2020,3,7,4,04:47:57
3,729977246,2020-03-07,â– ã‚¹ãƒˆãƒ¬ã‚¹ã®å¤§åŠã¯è‡ªåˆ†ã‚‚ã—ãã¯ä»–ã®äººã‹ã‚‰èª²ã•ã‚ŒãŸã€Œã‚„ã‚‹ã¹ãã“ã¨ã€ãŒã†ã¾ãç‰‡ä»˜ã‹ãªã„ã“ã¨ã‹ã‚‰ç”Ÿ...,False,2020,3,7,4,04:47:56
4,1104191938083741696,2020-03-07,ã©ã‚‰ç„¼ãã«æŒŸã¾ã‚ŒãŸãƒãƒ³ãƒ†å›ã¨ã€ã©ã‚‰ç„¼ãã‚’ã‚¤ãƒ‡ã‚¢ã«å–ã‚‰ã‚Œã¦æ€’ã£ãŸ ãƒãƒ³ãƒ†å›ç¬‘ç¬‘ https:/...,False,2020,3,7,4,04:47:55

In [32]:
df305 = df[df.date == '2020-03-05']

In [34]:
df305

array(['2020-03-05'], dtype=object)

In [38]:
d = df305[df305['tweet'].str.contains('ã¡ãã¯ã', na = False)]
d.head()

,user_id,date,tweet,RT_flag,year,month,day,hour,time
325967,962164277799890945,2020-03-05,ã§ã€å–‹ã£ã¡ã‚ƒã†ã¨çµ¶å¯¾ã«ãã®å†…å®¹å†ç¾ã§ããªã„â€¦â€¦å–‹ã‚‹ã“ã¨ã§ã‚·ãƒŸãƒ¥ãƒ¬ãƒ¼ãƒˆã‚’æ¶ˆè²»ã—ã¡ã‚ƒã†ã‹ã‚‰ãªã‚“ã ...,False,2020,3,5,23,23:58:46
326209,3289960711,2020-03-05,ã‚ªãƒ¼ãƒ—ãƒ³ã‚¨ã‚¢ã®èŠ±è¦‹ã¾ã§è‡ªç²›ã•ã›ã‚‹æ„å‘³ã£ã¦ã‚ã‚‹ã®ï¼Ÿãã®å‰ã«é›»è»Šæ­¢ã‚ã‚ã‚ˆã€‚ã‚„ã£ã¦ã‚‹ã“ã¨ãŒã¡ãã¯ã...,False,2020,3,5,23,23:58:03
326551,2758290391,2020-03-05,ç§ã¯ã“ã®é™ã¾ã‚Šè¿”ã£ãŸç„¡ã¸ã¨æˆ»ã‚Šã‚†ãæ™‚ãŒå¥½ããªã®ã ã¨æ€ã†ã€‚æ˜¼é–“ã®å¤ªé™½ã¯åˆºã™ã‚ˆã†ã§ç›®ã«ç—›ã„ã—ã€æ™‚...,False,2020,3,5,23,23:56:56
327629,250993728,2020-03-05,ä¸€å¿œæ€§èƒ½ã¿ã¦æ±ºã‚ã¦ã‚‹ã¨ã‹å‰ãã†ãªã“ã¨ã„ã£ã¦ãŸã‘ã©ã€ã‚¹ã‚­ãƒ«ã¨å®å…·ãŒã¡ãã¯ããªææ›¸æ–‡ã‚’å¥½ãã ã‹ã‚‰...,False,2020,3,5,23,23:53:15
327838,101188735,2020-03-05,æ”¿åºœã®å¯¾å¿œãŒã»ã‚“ã¨ã†ã«å¾Œæ‰‹å¾Œæ‰‹ãªã®ã¯å¦ã‚ãªã„ã€‚å­è‚²ã¦ã‚„å®¶äº‹ã‚’ã—ãŸã“ã¨ãŒãªã„ç”Ÿæ´»æ„Ÿã®ãªã„äººãŸã¡...,False,2020,3,5,23,23:52:37

In [46]:
d[d.time == '23' ]

Empty DataFrame
Columns: [user_id, date, tweet, RT_flag, year, month, day, hour, time]
Index: []

In [55]:
times = ['01:', '02:', '03:', '04:', '05:', '06:', '07:', '08:', '09:', '10:',
         '11:', '12:', '13:', '14:', '15:', '16:', '17:', '18:', '19:', '20:',
         '21:', '21:','22:', '23:','24:']
for key in times:
    print(len(d[d['time'].str.contains(key)]))

27
19
15
19
14
14
17
22
25
18
26
20
15
23
25
19
19
23
27
28
33
33
45
35
5

In [64]:
d[d['time'].str.contains('18:')]

,user_id,date,tweet,RT_flag,year,month,day,hour,time
419603,1091694036870524935,2020-03-05,æ€ã†ã€‚å­¦åŠ›ã‚„éŠã³å›ã‚‹ã“ã¨ã¨ã‹è€ƒæ…®ã—ãŸã‚‰ã€ä¼‘æ ¡ã˜ã‚ƒãªãã¦ã‚‚è‰¯ã‹ã£ãŸã‚“ã˜ã‚ƒãªã„ã‹ã¨æ€ãˆã¦ãã‚‹ã€‚ã„...,False,2020,3,5,19,19:18:53
419709,3192982053,2020-03-05,ãªã‚“ã ã‹æ‰“ç·šãŒã¡ãã¯ãã ã­ã¾ã‚ã‚ªãƒ¼ãƒ—ãƒ³æˆ¦ã¾ã ãã“ã¾ã§å¿ƒé…ã—ã¦ãªã„ã‘ã©,False,2020,3,5,19,19:18:32
425932,2803269404,2020-03-05,@t0918r0804m1 ã“ã¡ã‚‰ã“ãï½ğŸ˜†ã´ãˆã‚€ãƒšãƒ³ã§æ”¿æ²»æ€è€ƒãŒåˆã†æ–¹ã‚‚çã—ã„ã‹ã‚‚ğŸ˜‚ãªã®ã§ã™...,False,2020,3,5,18,18:57:13
426021,1221387885468737536,2020-03-05,@3u6SLw2gvvggPWP æœ€æ—©205ã ã‚ˆãªã‚ã®ãƒœãƒ«ã‚¹ã‚¿ãƒ¬ã‚¹å°è»Šã¨ã‹ãªã‚“ã‹ã¡ãã¯ãã‚ˆã­(ç¬‘),False,2020,3,5,18,18:56:53
426478,823465721422192641,2020-03-05,ã¨ã‚Šã‚ãˆãšã§ã¾ã ã¾ã æ–°ã—ã„å®¶å…·å±Šã‹ã‚“ã‹ã‚‰ã¡ãã¯ããƒã‚¦ã‚¹ã ãª(Â´-Ï‰-`) https://t...,False,2020,3,5,18,18:55:12
426988,2860677764,2020-03-05,ãƒ¯ã‚¡ã‚¡ã‚¡ã‚¡ãƒ¼ã‚¯ãƒãƒ³æ¥ãŸã‚‰ã‚°ãƒ©ã‚»ãƒ•ã§ç”°èˆè¡—ã«æ¥ã‚‹ã¨èµ°ã£ã¦ã‚‹ã‚ˆã†ãªãƒœãƒ‡ã‚£ãƒ‘ãƒãƒ«ã®è‰²ãŒã¡ãã¯ããªè»Š...,False,2020,3,5,18,18:53:22
428200,1081906969747763205,2020-03-05,ã¡ãã¯ãã€‚ç¦ç…™ã«å–ã‚Šçµ„ã‚€æ–¹ã‚’å¿œæ´ï¼ä¸€æ–¹ã§ã€ä¸»è¦é§…ã®é§…å‰ã«å–«ç…™æ‰€è¨­ç½®(æ¡ˆ)ã€‚ã©ã£ã¡ã‚„ã­ã‚“ï¼ç¦ç…™...,False,2020,3,5,18,18:48:50
429207,158681360,2020-03-05,ã‚¢ãƒ‹ãƒ¡7è©±ã®æ„Ÿæƒ³ã§ã™ï¼ã¿ã‚“ãªã§ä¿®è¡Œé–‹å§‹ï¼ã‚ã¡ã‚ƒã‚ã¡ã‚ƒãƒ›ãƒ¼ãƒ ã‚³ãƒ¡ãƒ‡ã‚£æº€è¼‰ã®ãƒ†ãƒ³ãƒã®è‰¯ã•ãŒæ¥½ã—ã„...,False,2020,3,5,18,18:44:56
429413,4742548993,2020-03-05,åŒ—æ‘å…ˆç”Ÿã®æ˜ç­ãªæ–‡ç« ã¨ãã‚Œã«çµ¡ã‚€ã‚¢ã‚«ã‚¦ãƒ³ãƒˆã®ã¡ãã¯ããªæ–‡ç« ã¨ã®é•ã„ã‚’è¦‹ã‚‹ã ã‘ã§ã€ç¾ä»£æ–‡ã®å­¦ç¿’...,False,2020,3,5,18,18:44:07
431359,1198999394844135430,2020-03-05,ã‚µã‚¤ã‚³ã‚­ãƒ£ãƒƒãƒˆã“ã¨ã€ã„ã‚ã¯ã«ãƒ”ãƒƒã‚¿ãƒªã®æ­Œè©ãŒã‚ã£ãŸï½—æ›²ååˆ†ã‹ã‚‹ã‹ãªï¼Ÿæ­£å¸¸æœ¬èƒ½â™¬æ¯é€±é–‹èŠ±â™¬èºã‚‹...,False,2020,3,5,18,18:37:05
431643,119372365,2020-03-05,ãƒ›ãƒ³ãƒˆä»Šé ƒã£ã¦æ„Ÿã˜ã ã‚ˆã­ã€‚ã‚‚ã†æ—¥æœ¬ã‚‚è‰²ã‚“ãªå›½ã‹ã‚‰å…¥å›½æ‹’å¦ã‚‚ã•ã‚Œã¦ã‚ˆã†ã‚„ãéãã‚‹æ„Ÿã˜ã­ã€‚ã©ã†ã‚‚...,False,2020,3,5,18,18:36:07
434237,3012556268,2020-03-05,@onnajidesu é´ã®å–ã‚Šé•ãˆã¯é€†MENSAã‚ã‚‹ã‚ã‚‹ã®ã‚ˆã†ã§ã™ï¼ğŸ‘ğŸ¤¤ä¼šåˆã§ã¯ã¿ã‚“ãªã®é´...,False,2020,3,5,18,18:27:27
435760,1134451106535202816,2020-03-05,@___yu7 ã¡ãã¯ãæ‹æ¨¡æ§˜ä¸»äººå…¬ã¶ã£ã¨ã‚“ã§ã¦ãŠã‚‚ã—ã‚ã„ã‹ã‚‰ãŠã™ã™ã‚,False,2020,3,5,18,18:22:09
437548,171476271,2020-03-05,å›½ã®è¿½æ‚¼å¼ã‚„ã‚‰ãªã„ã®ã«ã€ç¦å³¶ã«è¡Œãã£ã¦ã€ãªã‚“ã‹ã¡ãã¯ã,False,2020,3,5,18,18:15:30
438326,620068157,2020-03-05,@Memepeperon ãã‚Œã ãããã‚ãã—ã¦äººã®æ³¢é•·ã‚„é›°å›²æ°—ã‚’æ·±èª­ã¿ã—ã¦çŸ¥è­˜ã¨å™¨é‡ãƒ•ãƒ«ç¨¼åƒ...,False,2020,3,5,18,18:12:37
438856,805558595496513536,2020-03-05,ä¸­å›½ã€éŸ“å›½ã€ã¨ã„ã†ã¨ã“ã‚ã‹ã‚‰ã—ã¦ã€æ’å¤–çš„ãªå³æ´¾æ”¯æŒå±¤ã¸ã®ã‚¢ãƒ”ãƒ¼ãƒ«ã£ã½ã„ã€‚ã‚¤ãƒ©ãƒ³ã¯ï¼Ÿã‚¤ã‚¿ãƒªã‚¢ã¯...,False,2020,3,5,18,18:10:53
438871,493685339,2020-03-05,@suzunonerena æœ€åˆã¨æœ€å¾Œã®æ–‡ç« ã§è¨€ã£ã¦ã‚‹ã“ã¨ãŒã¡ãã¯ãã™ãã¦æ€–ã„â€¦ãŠé¢¨å‘‚å…¥ã‚Œãª...,False,2020,3,5,18,18:10:51
439513,3269559206,2020-03-05,è„³å†…è¨­å®šã¨ã—ã¦ã¯å»ºé€ â†’è­²æ¸¡å…ƒã§ä¸€åº¦æ”¹ä¿®â†’é€€å½¹â†’è­²æ¸¡â†’æˆ‘ãŒå›½ã§å†æ”¹ä¿®â†’å†å°±å½¹ã¨ã„ã£ãŸçµŒç·¯ã‚’ãŸã©...,False,2020,3,5,18,18:08:30
475124,908289362,2020-03-05,ã€Šæ”¿åºœã®å¯¾å¿œã®ã¡ãã¯ãã•ãŒæµ®ãå½«ã‚Šã«ã€‹!!ã€Œä»Šã®æ³•å¾‹ã§å‡ºæ¥ã‚‹ã€ç‰¹æªæ³•æ”¹æ­£ã€é‡å…šã‹ã‚‰æ³¨æ–‡ç¶šã€… ...,False,2020,3,5,15,15:18:01
511646,2326281296,2020-03-05,ãƒ¬ã‚¸ã‚¹ãƒˆãƒªãŒé€ã£ãŸã‹ãªã¨æ€ã£ãŸã‚‰ã€èª­ã¿è¾¼ã¿é †ãŒã¡ãã¯ãã«ãªã£ã¦ãŸ,False,2020,3,5,12,12:18:12
523228,761086270873346050,2020-03-05,ã¦ã‹ã‚«ãƒŠãƒ€å…¥å›½ã€œã®è¨˜äº‹ã€è¦‹å‡ºã—ã¨å†…å®¹ãŒã¡ãã¯ãã§ã„ã¾ã„ã¡æ–‡æ„ãŒæ´ã‚ãªã„ã®ã ãŒâ€¦â€¦æœ¬æ–‡èª­ã‚€é™ã‚Š...,False,2020,3,5,11,11:18:47
552807,2791242499,2020-03-05,POPã«å½¹å‰²ã¨ã¯ï¼ˆãã®ï¼’ï¼‰ã„ã‚ã‚“ãªç›®çš„ã¨ãƒ‡ã‚¶ã‚¤ãƒ³ã®POPãŒæ··åœ¨ã™ã‚‹ã®ãŒæ™®é€šã§ã™ã€‚éƒ¨åˆ†æœ€é©ã«ãª...,False,2020,3,5,8,08:18:08
606680,2309837893,2020-03-05,å…¨ã¦ãŒã¡ãã¯ããªã®ã«å¥‡è·¡çš„ã«å®Œæˆã•ã‚Œã¦ã‚‹è¬ã‚¢ãƒ‹ãƒ¡è¦‹ã¤ã‘ã¦ã—ã¾ã£ãŸâ€¦ãªã‚“ãªã‚“ã â€¦,False,2020,3,5,0,00:18:37

In [ ]:
# *************************************************************

# Filter V4 by 'ã‚¨ãƒ­ã„' - Day

In [6]:
# filetypes = ['T', 'D', 'A', 'V', 'F', 'C']
def filterV4(dfors, filetype, savedir, key_lang, filt_flag):
    # Prepartion of dfw 
    results = []
    dfs = []
    dfw = pd.read_csv('../data/WordTimeSeries.csv', encoding='utf-8').rename(columns={'Unnamed: 0': 'types',
                                                                                    'file name': 'file_name', 
                                                                                    'orignal form': 'orignal_form',
                                                                                    'English translation': 'English_translation'})
    booleanDictionary = {True: 'TRUE', False: 'FALSE'} # Drop nan and False in order to use query 
    dfw = dfw.replace(booleanDictionary)
    dfw = dfw.dropna(how='all')
    
    # Prepration of keywords
    filenames = [filename for filename in dfw.file_name.tolist() if filetype in filename]
    xd = {}
    xd['T'] = 'file_name.str.contains("T")'
    xd['D'] = 'file_name.str.contains("D")'
    xd['A'] = 'file_name.str.contains("A")'
    xd['V'] = 'file_name.str.contains("V")'
    xd['F'] = 'file_name.str.contains("F")'
    xd['C'] = 'file_name.str.contains("C")'
    
    query = xd[filetype]
    dfw_c = dfw.query(query, engine='python')
    if key_lang == 'jp':
        keywords = dfw_c.orignal_form.tolist() # English.ver: keywords = dfw_c.English_translation.tolist() 
    elif key_lang == 'en':
        keywords = dfw_c.English_translation.tolist() 
    else:
        print('Put accurate keyword language')
            
    # Find tweets
    for i, dfor in tqdm(enumerate(dfors)):
         # Extract tweet
        dfor_c = dfor[dfor['tweet'].str.contains('|'.join(keywords))]
        
        # Add columns of keywords whose cell have 1 if this tweet includes a keyword 
        for col, key in zip(filenames, keywords):
            l = []
            for row in dfor_c.itertuples():
                if key in row.tweet:
                    l.append(1)
                else:
                    l.append(0)
            dfor_c[col] = l
        
        d4 = dfor_c[dfor_c.V4 == 1]
        
        # Finally Connect dfs
        if i == 0:
            dfnew = d4
        else:
            dfnew = pd.concat([dfnew, d4], axis=0)
    
    
    # DF Only V4
    d4 = dfnew[dfnew.V4 == 1].drop(['V1', 'V2', 'V3', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20'], axis = 1)
    if filt_flag:
        # Remove 'ã‚¨ãƒ­ã„'
        d4_without_eroi = d4[~d4['tweet'].str.contains('ã‚¨ãƒ­ã„', na = False)]
        outname = 'V4b.csv'
    else:
        d4_without_eroi = d4
        outname = 'V4a.csv'

     # Make rows
    uni_dates = d4_without_eroi['date'].tolist()
    uni_dates = sorted(set(uni_dates), key=uni_dates.index) # date values
    rows = []
    for date in uni_dates:
        r = d4_without_eroi.groupby('date').get_group(date).V4.sum()
        rows.append(r)
    data = np.array([uni_dates, rows]).T
    # columns
    cols = ['date', 'V4']
    # Create DataFrame
    dft = pd.DataFrame(data, columns=cols).groupby('date').sum()
    
    # Save to csv
    outdir = savedir
    if not os.path.exists(outdir):
            os.makedirs(outdir)
    savename = os.path.join(outdir, outname)
    dft.to_csv(savename)
            
    return dft

In [8]:
# OR
filetypes = ['V']
for filetype in filetypes:
    d4_without_eroi = filterV4(dfors, filetype=filetype, savedir='../new_results_jst2/orjp/day', key_lang='jp', filt_flag=True)

0it [00:00, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
10it [00:45,  4.54s/it]

In [7]:
# RT
filetypes = ['V']
for filetype in filetypes:
    d4_without_eroi = filterV4(dfrts, filetype=filetype, savedir='../new_results2/rtjp/day', key_lang='jp', filt_flag=True)

0it [00:00, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
10it [00:31,  3.20s/it]

In [15]:
d4_without_eroi

              V4
date
2020-01-31   568
2020-02-01  2336
2020-02-02  2898
2020-02-03  2461
2020-02-04  2492
2020-02-05  2403
2020-02-06  2268
2020-02-07  2005
2020-02-08  2171
2020-02-09  2688
2020-02-10  2278
2020-02-11  2664
2020-02-12  2307
2020-02-13  2393
2020-02-14  2275
2020-02-15  2232
2020-02-16  2919
2020-02-17  2412
2020-02-18  4712
2020-02-19  2487
2020-02-20  2409
2020-02-21  2447
2020-02-22  2337
2020-02-23  2517
2020-02-24  2786
2020-02-25  2716
2020-02-26  3291
2020-02-27  3323
2020-02-28  2891
2020-02-29  2062

# Filter V4 by 'ã‚¨ãƒ­ã„' - hour

In [14]:
# filetypes = ['T', 'D', 'A', 'V', 'F', 'C']
def findtwt_hour(dfors, filetype, savedir, key_lang, filt_flag):
    # Prepartion of dfw 
    results = []
    dfs = []
    dfw = pd.read_csv('../data/WordTimeSeries.csv', encoding='utf-8').rename(columns={'Unnamed: 0': 'types',
                                                                                    'file name': 'file_name', 
                                                                                    'orignal form': 'orignal_form',
                                                                                    'English translation': 'English_translation'})
    booleanDictionary = {True: 'TRUE', False: 'FALSE'} # Drop nan and False in order to use query 
    dfw = dfw.replace(booleanDictionary)
    dfw = dfw.dropna(how='all')

    # Prepration of keywords
    filenames = [filename for filename in dfw.file_name.tolist() if filetype in filename]
    xd = {}
    xd['T'] = 'file_name.str.contains("T")'
    xd['D'] = 'file_name.str.contains("D")'
    xd['A'] = 'file_name.str.contains("A")'
    xd['V'] = 'file_name.str.contains("V")'
    xd['F'] = 'file_name.str.contains("F")'
    xd['C'] = 'file_name.str.contains("C")'

    query = xd[filetype]
    dfw_c = dfw.query(query, engine='python')
    
    # Keyword 
    if key_lang == 'jp':
        keywords = dfw_c.orignal_form.tolist() # English.ver: keywords = dfw_c.English_translation.tolist() 
    elif key_lang == 'en':
        keywords = dfw_c.English_translation.tolist() 
    else:
        print('Put accurate keyword language')
    
    # Find tweets
    for i, dfor in tqdm(enumerate(dfors)):
        # Extract tweet
        dfor_c = dfor[dfor['tweet'].str.contains('|'.join(keywords))]

        for col, key in zip(filenames, keywords):
            l = []
            for row in dfor_c.itertuples():
                if key in row.tweet:
                    l.append(1)
                else:
                    l.append(0)
            dfor_c[col] = l
#         dfs.append(dfor_c)
        
        d4 = dfor_c[dfor_c.V4 == 1]
        
        # Finally Connect dfs
        if i == 0:
            dfnew = d4
        else:
            dfnew = pd.concat([dfnew, d4], axis=0)
            

    # DF Only V4
    d4 = dfnew[dfnew.V4 == 1].drop(['V1', 'V2', 'V3', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20'], axis = 1)
    if filt_flag:
        # Remove 'ã‚¨ãƒ­ã„'
        d4_without_eroi = d4[~d4['tweet'].str.contains('ã‚¨ãƒ­ã„', na = False)]
        outname = 'V4b_hour.csv'
    else:
        d4_without_eroi = d4
        outname = 'V4a_hour.csv'
        
    # Create csv file by day
    all_df = []
    nextdf, nextdf_date = '', ''
    
    # Save dir
    outdir = savedir
    if not os.path.exists(outdir):
            os.makedirs(outdir)

#     for i, df in enumerate(dfs):
    df = d4_without_eroi
    unique_dates = df['date'].tolist()
    unique_dates = sorted(set(unique_dates), key=unique_dates.index) # date values
    df_date = df.groupby('date') # df grouped by date   

    for date in unique_dates:
        df_oneday = df_date.get_group(date) # df of one day
        dfh = df_oneday.groupby('hour').sum()
        dfh = dfh.drop(['year', 'month', 'user_id', 'RT_flag', 'day'],axis=1)

        # Save csv
        outname = filetype+str(date)+'.csv'
        savename = os.path.join(outdir, outname)

        if os.path.exists(savename):
            # File1
            existedfile = pd.read_csv(savename)
            # ã„ã£ãŸã‚“csvã«ã™ã‚‹
            _saveonce = 'once.csv'
            dfh.to_csv(_saveonce)
            # File2 
            once = pd.read_csv(_saveonce)
            # Concat 
            df_oneday1 = pd.concat([existedfile, once], axis=0)
            # Finally save
            dfh = df_oneday1.groupby('hour').sum()

        # Save to csv
        dfh.to_csv(savename)

In [15]:
# Orjp
filetypes = ['V']
# filetypes = ['D', 'A', 'V', 'F', 'C']
for filetype in filetypes:
    findtwt_hour(dfors, filetype=filetype, savedir='testV4hour', key_lang='jp', filt_flag=True)

0it [00:00, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
10it [00:40,  4.00s/it]

In [18]:
test = pd.read_csv('testV4hour/V2020-03-15.csv')
real = pd.read_csv('../new_results_jst2/orjp/day/V4b.csv')

In [31]:
real.loc[14, 'V4']

2985

In [32]:
test.V4.sum()

2985.0

In [35]:
path = '../new_results2/orjp/day/'
a = pd.read_csv(path+'V4a.csv').rename(columns={'V4': 'V4b'})
b = pd.read_csv(path+'V4b.csv').rename(columns={'V4': 'V4b'})

d = pd.concat([a, b.V4b], axis =1, join='inner')
d.diff(axis=1)

   date  V4b     V4b
0   NaN  NaN     0.0
1   NaN  NaN    -2.0
2   NaN  NaN     0.0
3   NaN  NaN    -2.0
4   NaN  NaN    -1.0
5   NaN  NaN     0.0
6   NaN  NaN    -1.0
7   NaN  NaN    -1.0
8   NaN  NaN    -2.0
9   NaN  NaN    -4.0
10  NaN  NaN    -1.0
11  NaN  NaN     0.0
12  NaN  NaN    -1.0
13  NaN  NaN    -1.0
14  NaN  NaN     0.0
15  NaN  NaN -8465.0
16  NaN  NaN     0.0
17  NaN  NaN    -2.0
18  NaN  NaN     0.0
19  NaN  NaN     0.0
20  NaN  NaN     0.0
21  NaN  NaN    -1.0
22  NaN  NaN     0.0
23  NaN  NaN    -1.0
24  NaN  NaN    -1.0
25  NaN  NaN    -1.0
26  NaN  NaN    -1.0
27  NaN  NaN     0.0
28  NaN  NaN     0.0
29  NaN  NaN    -1.0
30  NaN  NaN    -2.0
31  NaN  NaN     0.0

In [29]:
d = pd.concat([a, b.V4b], axis =1, join='inner')
d.diff(axis=1)

In [28]:
d.diff(axis=1)

   date  V4b  V4b
0   NaN  NaN  0.0
1   NaN  NaN  0.0
2   NaN  NaN -2.0
3   NaN  NaN  0.0
4   NaN  NaN  0.0
5   NaN  NaN  0.0
6   NaN  NaN  0.0
7   NaN  NaN  0.0
8   NaN  NaN  0.0
9   NaN  NaN  0.0
10  NaN  NaN -1.0
11  NaN  NaN  0.0
12  NaN  NaN  0.0
13  NaN  NaN  0.0
14  NaN  NaN  0.0
15  NaN  NaN  0.0
16  NaN  NaN  0.0
17  NaN  NaN  0.0
18  NaN  NaN  0.0
19  NaN  NaN  0.0
20  NaN  NaN  0.0
21  NaN  NaN  0.0
22  NaN  NaN  0.0
23  NaN  NaN -1.0
24  NaN  NaN  0.0
25  NaN  NaN  0.0
26  NaN  NaN  0.0
27  NaN  NaN  0.0
28  NaN  NaN  0.0
29  NaN  NaN  0.0