In [7]:
import csv
from datetime import datetime
import numpy as np
import pandas as pd
import time 
from datetime import datetime
import os
from os import path
from glob import glob

import ijson
from tqdm import tqdm

# Read csv

In [2]:
# Mar data
zip_dir  = "../data/new_dfs_jst"
csvfiles = glob(os.path.join(zip_dir, 'dfor*'))

dfrts = []
for csvfile in csvfiles:
    df1 = pd.read_csv(csvfile).drop('Unnamed: 0', axis=1)
    dfrts.append(df1)

KeyboardInterrupt:

In [8]:
# Feb data
zip_dir  = "../data/new_dfs2_jst"
csvfiles = glob(os.path.join(zip_dir, 'dfor*'))

dfors = []
for csvfile in csvfiles:
    df = pd.read_csv(csvfile).drop('Unnamed: 0', axis=1)
    dfors.append(df)

In [18]:
df = dfors[7]
df.date.unique()

array(['2020-03-10', '2020-03-09', '2020-03-08', '2020-03-07'],
      dtype=object)

In [68]:
# *************************************************************

In [69]:
df.head()

,user_id,date,tweet,RT_flag,year,month,day,hour,time
0,2775144644,2020-03-07,ä¸æº€æ°—ãªæ§˜ã§ã ã‚‹ã æ¯ã‚’å¸ã„è¾¼ã‚€ä»•æ–¹ãªã„ãµã‚Šã§ ç¨ã¿åãå‡ºã™ãã‚ŒãŒç„¡é§„ã¨æ°—ã¥ã é«ªã‚’åˆ‡ã£ãŸæœ...,False,2020,3,7,4,04:47:58
1,1013069463120277504,2020-03-07,ä¼ãˆãŸã„ã‘ã©å®Œå…¨è¿·æƒ‘ã«ãªã‚‹ã£ã¦åˆ†ã‹ã£ã¦ã‚‹ã‹ã‚‰ä¼ãˆã‚Œãªã„ä¸å¿«ãªæ€ã„ã‚’ã•ã›ãŸããªã„å›°ã£ãŸè¡¨æƒ…ã«ã•...,False,2020,3,7,4,04:47:58
2,2561329940,2020-03-07,@Dragoooon1223 50åˆ†ãšã£ã¨è¦³å¯Ÿã—ã¦ã¦ã‚‚é£½ããªã„ï¼(à¹‘â€¢Ì€ã…‚â€¢Ì)Ùˆâœ§ãƒŠãƒ«ã‚¬ã¡...,False,2020,3,7,4,04:47:57
3,729977246,2020-03-07,â– ã‚¹ãƒˆãƒ¬ã‚¹ã®å¤§åŠã¯è‡ªåˆ†ã‚‚ã—ãã¯ä»–ã®äººã‹ã‚‰èª²ã•ã‚ŒãŸã€Œã‚„ã‚‹ã¹ãã“ã¨ã€ãŒã†ã¾ãç‰‡ä»˜ã‹ãªã„ã“ã¨ã‹ã‚‰ç”Ÿ...,False,2020,3,7,4,04:47:56
4,1104191938083741696,2020-03-07,ã©ã‚‰ç„¼ãã«æŒŸã¾ã‚ŒãŸãƒãƒ³ãƒ†å›ã¨ã€ã©ã‚‰ç„¼ãã‚’ã‚¤ãƒ‡ã‚¢ã«å–ã‚‰ã‚Œã¦æ€’ã£ãŸ ãƒãƒ³ãƒ†å›ç¬‘ç¬‘ https:/...,False,2020,3,7,4,04:47:55

In [19]:
df308 = df[df.date == '2020-03-08']

In [33]:
len(df308)
d = df308[df308['tweet'].str.contains('æ”¾å¿ƒçŠ¶æ…‹')]

In [34]:
len(d)

7234

In [35]:
times = ['01:', '02:', '03:', '04:', '05:', '06:', '07:', '08:', '09:', '10:',
         '11:', '12:', '13:', '14:', '15:', '16:', '17:', '18:', '19:', '20:',
         '21:', '21:','22:', '23:','24:']
for key in times:
    print(len(d[d['time'].str.contains(key)]))

29
25
23
22
20
16
17
26
22
19
30
22
30
38
32
21
33
53
54
6632
63
63
76
97
16

In [48]:
target = d[d['hour'] == 20]
target.head()

,user_id,date,tweet,RT_flag,year,month,day,hour,time
409646,421890848,2020-03-08,@MAMAMIRAFAN ã‚ã‚ŠãŒã¨ã†ã”ã–ã„ã¾ã™ã‚ã‚ŠãŒã¨ã†ã”ã–ã„ã¾ã™ï¼¼(^o^)ï¼ã‚‚ã†ã‚ã®ã©ã‚¢...,False,2020,3,8,20,20:59:49
409977,1220906671683207168,2020-03-08,ãƒ¨ãƒ³ã‚¸ãƒ¥ãƒ³ã¨ã‚«ã‚¤ãã‚“ã®DOPEè¦‹ã¡ã‚ƒã£ã¦ã‚‚ã†æ”¾å¿ƒçŠ¶æ…‹ãªã‚“ã ã‘ã©ä½•ã‚ã‚Œæ®ºã—ã«æ¥ã¦ã‚‹ç„¡ç†ã—ã‚“ã©ã„ğŸ¥µ,False,2020,3,8,20,20:58:55
410358,1215840378,2020-03-08,@shoback5 å½“æ™‚è¦‹ã¦ã¾ã—ãŸï¼ğŸ˜ƒå…ƒã¯OVAä½œå“ã§ã—ãŸã‚ˆã­â˜ğŸ¼ã‚¨ãƒ´ã‚¡ãŒå®Œçµã—ã¦æ”¾å¿ƒçŠ¶æ…‹ã®...,False,2020,3,8,20,20:57:47
410540,1175418033046605824,2020-03-08,@hanana8blueyoa ã‚ãŸã—ã‚‚åŠã°æ”¾å¿ƒçŠ¶æ…‹â€¦,False,2020,3,8,20,20:57:19
410642,1208280841484292097,2020-03-08,@keisetu_seiken â€¦â†ç›®ãŒæ”¾å¿ƒçŠ¶æ…‹ https://t.co/ULo3ckKk66,False,2020,3,8,20,20:57:02

In [60]:
target['tweet'].value_counts()

@airi19254081 ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡ãƒ­ã«ğŸ™ˆâ€¦ https://t.co/EufqL74syz    1
@ldh_rkyw ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡ãƒ­ã«ğŸ™ˆä»Šã™â€¦ https://t.co/p3hWEBFcUi      1
@s99_520 ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡ãƒ­ã«ğŸ™ˆä»Šã™ãâ€¦ https://t.co/SRu0l81X96      1
@gurujann ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡ãƒ­ã«ğŸ™ˆä»Šã™â€¦ https://t.co/8f3y8jD5xP      1
@oVS8oqyGv17r4fu ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡â€¦ https://t.co/bDGvWpD7Qd    1
                                                                                                                                      ..
@yutakamaiyan ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡ãƒ­ã«ğŸ™ˆâ€¦ https://t.co/RzfVzga34A    1
@morehappylife ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡ãƒ­ã«â€¦ https://t.co/FOLKCsdqDI    1
@Misaki_Yuta2217 ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡â€¦ https://t.co/V3a916LZKh    1
@8Y5oLjw0Js7goSl ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡â€¦ https://t.co/xeLdFZrTxV    1
@rkrk2057_saki ğŸ†•#GENEé«˜ ã“ã®ã‚ã¨ã™ãğŸ†•#GENE ãŒãƒ‰ãƒã‚¤ã‚’æº€å–«ä¸­ğŸ˜!!ç‹æ§˜ã®å®¶ã§ã‚´ãƒ¼ã‚«ãƒ¼ãƒˆä½“é¨“ğŸéæ¿€ãªãƒ‰ãƒªãƒ•ãƒˆã§æ”¾å¿ƒçŠ¶æ…‹ã«ğŸ¤£!?ã•ã‚‰ã«æ¿€ã‚«ãƒ¯â¤ï¸ãƒ›ãƒ¯ã‚¤ãƒˆãƒ©ã‚¤ã‚ªãƒ³ã®èµ¤ã¡ã‚ƒã‚“æŠ±ã£ã“ã§ãƒ¡ãƒ­ãƒ¡ãƒ­ã«â€¦ https://t.co/vh9BOy9hvz    1
Name: tweet, Length: 6620, dtype: int64

In [53]:
spm = target[target['tweet'].str.contains('GENEé«˜')]
len(spm)

6573

In [52]:
len(spm)

6573

In [61]:
len(target)-len(spm)

47

In [ ]:
# *************************************************************

# Filter V4 by 'ã‚¨ãƒ­ã„' - Day

In [15]:
# filetypes = ['T', 'D', 'A', 'V', 'F', 'C']
def filterV4(dfors, filetype, savedir, key_lang, filt_flag):
    # Prepartion of dfw 
    results = []
    dfs = []
    dfw = pd.read_csv('../data/WordTimeSeries.csv', encoding='utf-8').rename(columns={'Unnamed: 0': 'types',
                                                                                    'file name': 'file_name', 
                                                                                    'orignal form': 'orignal_form',
                                                                                    'English translation': 'English_translation'})
    booleanDictionary = {True: 'TRUE', False: 'FALSE'} # Drop nan and False in order to use query 
    dfw = dfw.replace(booleanDictionary)
    dfw = dfw.dropna(how='all')
    
    # Prepration of keywords
    filenames = [filename for filename in dfw.file_name.tolist() if filetype in filename]
    xd = {}
    xd['T'] = 'file_name.str.contains("T")'
    xd['D'] = 'file_name.str.contains("D")'
    xd['A'] = 'file_name.str.contains("A")'
    xd['V'] = 'file_name.str.contains("V")'
    xd['F'] = 'file_name.str.contains("F")'
    xd['C'] = 'file_name.str.contains("C")'
    
    query = xd[filetype]
    dfw_c = dfw.query(query, engine='python')
    if key_lang == 'jp':
        keywords = dfw_c.orignal_form.tolist() # English.ver: keywords = dfw_c.English_translation.tolist() 
    elif key_lang == 'en':
        keywords = dfw_c.English_translation.tolist() 
    else:
        print('Put accurate keyword language')
            
    # Find tweets
    for i, dfor in tqdm(enumerate(dfors)):
         # Extract tweet
        dfor_c = dfor[dfor['tweet'].str.contains('|'.join(keywords))]
        
        # Add columns of keywords whose cell have 1 if this tweet includes a keyword 
        for col, key in zip(filenames, keywords):
            l = []
            for row in dfor_c.itertuples():
                if key in row.tweet:
                    l.append(1)
                else:
                    l.append(0)
            dfor_c[col] = l
        
        d4 = dfor_c[dfor_c.C4 == 1]
        
        # Finally Connect dfs
        if i == 0:
            dfnew = d4
        else:
            dfnew = pd.concat([dfnew, d4], axis=0)
    
    
    # DF Only V4
    d4 = dfnew[dfnew.C12 == 1].drop(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 
                                    'C21', 'C22', 'C23', 'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30', 
                                    'C31', 'C32', 'C33', 'C34', 'C35'], axis = 1)
    if filt_flag:
        # Remove 'ã‚¨ãƒ­ã„'
        d4_without_eroi = d4[~d4['tweet'].str.contains('ã‚¨ãƒ­ã„', na = False)]
        outname = 'V4b.csv'
    else:
        d4_without_eroi = d4
        outname = 'V4a.csv'

#      # Make rows
#     uni_dates = d4_without_eroi['date'].tolist()
#     uni_dates = sorted(set(uni_dates), key=uni_dates.index) # date values
#     rows = []
#     for date in uni_dates:
#         r = d4_without_eroi.groupby('date').get_group(date).V4.sum()
#         rows.append(r)
#     data = np.array([uni_dates, rows]).T
#     # columns
#     cols = ['date', 'V4']
#     # Create DataFrame
#     dft = pd.DataFrame(data, columns=cols).groupby('date').sum()
    
#     # Save to csv
#     outdir = savedir
#     if not os.path.exists(outdir):
#             os.makedirs(outdir)
#     savename = os.path.join(outdir, outname)
#     dft.to_csv(savename)
            
#     return dft

    return d4_without_eroi

In [16]:
# OR
filetypes = ['C']
for filetype in filetypes:
    d4_without_eroi = filterV4(dfors, filetype=filetype, savedir='../new_results_jst2/orjp/day', key_lang='jp', filt_flag=False)

0it [00:00, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
10it [01:35,  9.59s/it]

In [7]:
# RT
filetypes = ['V']
for filetype in filetypes:
    d4_without_eroi = filterV4(dfrts, filetype=filetype, savedir='../new_results2/rtjp/day', key_lang='jp', filt_flag=True)

0it [00:00, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
10it [00:31,  3.20s/it]

In [15]:
d4_without_eroi

              V4
date
2020-01-31   568
2020-02-01  2336
2020-02-02  2898
2020-02-03  2461
2020-02-04  2492
2020-02-05  2403
2020-02-06  2268
2020-02-07  2005
2020-02-08  2171
2020-02-09  2688
2020-02-10  2278
2020-02-11  2664
2020-02-12  2307
2020-02-13  2393
2020-02-14  2275
2020-02-15  2232
2020-02-16  2919
2020-02-17  2412
2020-02-18  4712
2020-02-19  2487
2020-02-20  2409
2020-02-21  2447
2020-02-22  2337
2020-02-23  2517
2020-02-24  2786
2020-02-25  2716
2020-02-26  3291
2020-02-27  3323
2020-02-28  2891
2020-02-29  2062

# Filter V4 by 'ã‚¨ãƒ­ã„' - hour

In [56]:
# filetypes = ['T', 'D', 'A', 'V', 'F', 'C']
def findtwt_hour(dfors, filetype, savedir, key_lang, filt_flag):
    # Prepartion of dfw 
    results = []
    dfs = []
    dfw = pd.read_csv('../data/WordTimeSeries.csv', encoding='utf-8').rename(columns={'Unnamed: 0': 'types',
                                                                                    'file name': 'file_name', 
                                                                                    'orignal form': 'orignal_form',
                                                                                    'English translation': 'English_translation'})
    booleanDictionary = {True: 'TRUE', False: 'FALSE'} # Drop nan and False in order to use query 
    dfw = dfw.replace(booleanDictionary)
    dfw = dfw.dropna(how='all')

    # Prepration of keywords
    filenames = [filename for filename in dfw.file_name.tolist() if filetype in filename]
    xd = {}
    xd['T'] = 'file_name.str.contains("T")'
    xd['D'] = 'file_name.str.contains("D")'
    xd['A'] = 'file_name.str.contains("A")'
    xd['V'] = 'file_name.str.contains("V")'
    xd['F'] = 'file_name.str.contains("F")'
    xd['C'] = 'file_name.str.contains("C")'

    query = xd[filetype]
    dfw_c = dfw.query(query, engine='python')
    
    # Keyword 
    if key_lang == 'jp':
        keywords = dfw_c.orignal_form.tolist() # English.ver: keywords = dfw_c.English_translation.tolist() 
    elif key_lang == 'en':
        keywords = dfw_c.English_translation.tolist() 
    else:
        print('Put accurate keyword language')
    
    # Find tweets
    for i, dfor in tqdm(enumerate(dfors)):
        # Extract tweet
        dfor_c = dfor[dfor['tweet'].str.contains('|'.join(keywords))]

        for col, key in zip(filenames, keywords):
            l = []
            for row in dfor_c.itertuples():
                if key in row.tweet:
                    l.append(1)
                else:
                    l.append(0)
            dfor_c[col] = l
#         dfs.append(dfor_c)
        
        d4 = dfor_c[dfor_c.C12 == 1]
        
        # Finally Connect dfs
        if i == 0:
            dfnew = d4
        else:
            dfnew = pd.concat([dfnew, d4], axis=0)
            

    # DF Only c12
    d4 = dfnew[dfnew.C12 == 1].drop(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 
                                    'C21', 'C22', 'C23', 'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30', 
                                    'C31', 'C32', 'C33', 'C34', 'C35'], axis = 1)
    
    if filt_flag:
        # Remove 'ã‚¨ãƒ­ã„'
        d4_without_eroi = d4[~d4['tweet'].str.contains('GENEé«˜', na = False)]
        outname = 'C12b_hour.csv'
    else:
        d4_without_eroi = d4
        outname = 'C12a_hour.csv'
        
    # Create csv file by day
    all_df = []
    nextdf, nextdf_date = '', ''
    
    # Save dir
    outdir = savedir
    if not os.path.exists(outdir):
            os.makedirs(outdir)

#     for i, df in enumerate(dfs):
    df = d4_without_eroi
    unique_dates = df['date'].tolist()
    unique_dates = sorted(set(unique_dates), key=unique_dates.index) # date values
    df_date = df.groupby('date') # df grouped by date   

    for date in unique_dates:
        df_oneday = df_date.get_group(date) # df of one day
        dfh = df_oneday.groupby('hour').sum()
        dfh = dfh.drop(['year', 'month', 'user_id', 'RT_flag', 'day'],axis=1)

        # Save csv
        outname = filetype+str(date)+'.csv'
        savename = os.path.join(outdir, outname)

        if os.path.exists(savename):
            # File1
            existedfile = pd.read_csv(savename)
            # ã„ã£ãŸã‚“csvã«ã™ã‚‹
            _saveonce = 'once.csv'
            dfh.to_csv(_saveonce)
            # File2 
            once = pd.read_csv(_saveonce)
            # Concat 
            df_oneday1 = pd.concat([existedfile, once], axis=0)
            # Finally save
            dfh = df_oneday1.groupby('hour').sum()

        # Save to csv
        dfh.to_csv(savename)

In [58]:
# Orjp
filetypes = ['C']
# filetypes = ['D', 'A', 'V', 'F', 'C']
for filetype in filetypes:
    findtwt_hour(dfors, filetype=filetype, savedir='testV4hour', key_lang='jp', filt_flag=True)

0it [00:00, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
10it [01:32,  9.22s/it]

In [18]:
test = pd.read_csv('testV4hour/V2020-03-15.csv')
real = pd.read_csv('../new_results_jst2/orjp/day/V4b.csv')

In [31]:
real.loc[14, 'V4']

2985

In [32]:
test.V4.sum()

2985.0

In [35]:
path = '../new_results2/orjp/day/'
a = pd.read_csv(path+'V4a.csv').rename(columns={'V4': 'V4b'})
b = pd.read_csv(path+'V4b.csv').rename(columns={'V4': 'V4b'})

d = pd.concat([a, b.V4b], axis =1, join='inner')
d.diff(axis=1)

   date  V4b     V4b
0   NaN  NaN     0.0
1   NaN  NaN    -2.0
2   NaN  NaN     0.0
3   NaN  NaN    -2.0
4   NaN  NaN    -1.0
5   NaN  NaN     0.0
6   NaN  NaN    -1.0
7   NaN  NaN    -1.0
8   NaN  NaN    -2.0
9   NaN  NaN    -4.0
10  NaN  NaN    -1.0
11  NaN  NaN     0.0
12  NaN  NaN    -1.0
13  NaN  NaN    -1.0
14  NaN  NaN     0.0
15  NaN  NaN -8465.0
16  NaN  NaN     0.0
17  NaN  NaN    -2.0
18  NaN  NaN     0.0
19  NaN  NaN     0.0
20  NaN  NaN     0.0
21  NaN  NaN    -1.0
22  NaN  NaN     0.0
23  NaN  NaN    -1.0
24  NaN  NaN    -1.0
25  NaN  NaN    -1.0
26  NaN  NaN    -1.0
27  NaN  NaN     0.0
28  NaN  NaN     0.0
29  NaN  NaN    -1.0
30  NaN  NaN    -2.0
31  NaN  NaN     0.0

In [29]:
d = pd.concat([a, b.V4b], axis =1, join='inner')
d.diff(axis=1)

In [28]:
d.diff(axis=1)

   date  V4b  V4b
0   NaN  NaN  0.0
1   NaN  NaN  0.0
2   NaN  NaN -2.0
3   NaN  NaN  0.0
4   NaN  NaN  0.0
5   NaN  NaN  0.0
6   NaN  NaN  0.0
7   NaN  NaN  0.0
8   NaN  NaN  0.0
9   NaN  NaN  0.0
10  NaN  NaN -1.0
11  NaN  NaN  0.0
12  NaN  NaN  0.0
13  NaN  NaN  0.0
14  NaN  NaN  0.0
15  NaN  NaN  0.0
16  NaN  NaN  0.0
17  NaN  NaN  0.0
18  NaN  NaN  0.0
19  NaN  NaN  0.0
20  NaN  NaN  0.0
21  NaN  NaN  0.0
22  NaN  NaN  0.0
23  NaN  NaN -1.0
24  NaN  NaN  0.0
25  NaN  NaN  0.0
26  NaN  NaN  0.0
27  NaN  NaN  0.0
28  NaN  NaN  0.0
29  NaN  NaN  0.0

# ã“ã“ã‹ã‚‰

In [17]:
d4_without_eroi

,user_id,date,tweet,RT_flag,year,month,day,hour,time,C12
188412,3151155025,2020-03-18,ã€Œæ¡œã®æ£®ã®æº€é–‹ã®ã‚ã¨ã§ã€æ˜¨æ—¥è¦³åŠ‡ã€‚ã™ãã«ã¯æ„Ÿæƒ³ãŒã¾ã¨ã¾ã‚‰ãªã„ãã‚‰ã„ã€è¦‹å¿œãˆã®ã‚ã‚‹æ¼”åŠ‡ã§æ”¾å¿ƒçŠ¶...,False,2020,3,18,20,20:56:24,1
102728,1092751135528562689,2020-03-15,ãƒªã‚³ã‚‚ç›´è¼ã‚‚é¸æŠãŒåˆ‡ãªã™ãã¦ã€æœªã ã«æ”¾å¿ƒçŠ¶æ…‹ã€‚æ¶™ãŒæ­¢ã¾ã‚‰ãªã„ã€‚è€ƒãˆã‚‚ã€ã¾ã¨ã¾ã‚‰ãªã„ã€‚ã ã‘ã©ã€...,False,2020,3,15,23,23:38:23,1
680640,1213074071849553930,2020-03-10,è¦³çµ‚ã‚ã£ã¦30åˆ†ãã‚‰ã„ãŸã£ã¦ã‚‚ã€å‹•ã‘ãªã„ã€æ”¾å¿ƒçŠ¶æ…‹ã€åˆã‚ã¦ã®æ„Ÿè¦šã€è¡æ’ƒã€ãªã‚“ã¦è¨€ã£ã¦è‰¯ã„ã®ã‹...,False,2020,3,10,23,23:46:41,1