In [1]:
import csv
from datetime import datetime
import numpy as np
import pandas as pd
import time 
from datetime import datetime
import os
from os import path
from glob import glob

import ijson
from tqdm import tqdm

# Read csv

In [2]:
# Mar data
zip_dir  = "../data/new_dfs_jst"
csvfiles = glob(os.path.join(zip_dir, 'dfor*'))

dfrts = []
for csvfile in csvfiles:
    df1 = pd.read_csv(csvfile).drop('Unnamed: 0', axis=1)
    dfrts.append(df1)

In [3]:
# Feb data
zip_dir  = "../data/new_dfs2_jst"
csvfiles = glob(os.path.join(zip_dir, 'dfor*'))

dfors = []
for csvfile in csvfiles:
    df = pd.read_csv(csvfile).drop('Unnamed: 0', axis=1)
    dfors.append(df)

In [28]:
df = dfors[8]

In [29]:
# *************************************************************

In [30]:
df.head()

,user_id,date,tweet,RT_flag,year,month,day,hour,time
0,2775144644,2020-03-07,不満気な様でだるく 息を吸い込む仕方ないふりで 睨み吐き出すそれが無駄と気づき 髪を切った朝...,False,2020,3,7,4,04:47:58
1,1013069463120277504,2020-03-07,伝えたいけど完全迷惑になるって分かってるから伝えれない不快な思いをさせたくない困った表情にさ...,False,2020,3,7,4,04:47:58
2,2561329940,2020-03-07,@Dragoooon1223 50分ずっと観察してても飽きない！(๑•̀ㅂ•́)و✧ナルガち...,False,2020,3,7,4,04:47:57
3,729977246,2020-03-07,■ストレスの大半は自分もしくは他の人から課された「やるべきこと」がうまく片付かないことから生...,False,2020,3,7,4,04:47:56
4,1104191938083741696,2020-03-07,どら焼きに挟まれたバンテ君と、どら焼きをイデアに取られて怒った バンテ君笑笑 https:/...,False,2020,3,7,4,04:47:55

In [32]:
df305 = df[df.date == '2020-03-05']

In [34]:
df305

array(['2020-03-05'], dtype=object)

In [38]:
d = df305[df305['tweet'].str.contains('ちぐはぐ', na = False)]
d.head()

,user_id,date,tweet,RT_flag,year,month,day,hour,time
325967,962164277799890945,2020-03-05,で、喋っちゃうと絶対にその内容再現できない……喋ることでシミュレートを消費しちゃうからなんだ...,False,2020,3,5,23,23:58:46
326209,3289960711,2020-03-05,オープンエアの花見まで自粛させる意味ってあるの？その前に電車止めろよ。やってることがちぐはぐ...,False,2020,3,5,23,23:58:03
326551,2758290391,2020-03-05,私はこの静まり返った無へと戻りゆく時が好きなのだと思う。昼間の太陽は刺すようで目に痛いし、時...,False,2020,3,5,23,23:56:56
327629,250993728,2020-03-05,一応性能みて決めてるとか偉そうなこといってたけど、スキルと宝具がちぐはぐな李書文を好きだから...,False,2020,3,5,23,23:53:15
327838,101188735,2020-03-05,政府の対応がほんとうに後手後手なのは否めない。子育てや家事をしたことがない生活感のない人たち...,False,2020,3,5,23,23:52:37

In [46]:
d[d.time == '23' ]

Empty DataFrame
Columns: [user_id, date, tweet, RT_flag, year, month, day, hour, time]
Index: []

In [55]:
times = ['01:', '02:', '03:', '04:', '05:', '06:', '07:', '08:', '09:', '10:',
         '11:', '12:', '13:', '14:', '15:', '16:', '17:', '18:', '19:', '20:',
         '21:', '21:','22:', '23:','24:']
for key in times:
    print(len(d[d['time'].str.contains(key)]))

27
19
15
19
14
14
17
22
25
18
26
20
15
23
25
19
19
23
27
28
33
33
45
35
5

In [64]:
d[d['time'].str.contains('18:')]

,user_id,date,tweet,RT_flag,year,month,day,hour,time
419603,1091694036870524935,2020-03-05,思う。学力や遊び回ることとか考慮したら、休校じゃなくても良かったんじゃないかと思えてくる。い...,False,2020,3,5,19,19:18:53
419709,3192982053,2020-03-05,なんだか打線がちぐはぐだねまあオープン戦まだそこまで心配してないけど,False,2020,3,5,19,19:18:32
425932,2803269404,2020-03-05,@t0918r0804m1 こちらこそ～😆ぴえむペンで政治思考が合う方も珍しいかも😂なのです...,False,2020,3,5,18,18:57:13
426021,1221387885468737536,2020-03-05,@3u6SLw2gvvggPWP 最早205だよなあのボルスタレス台車とかなんかちぐはぐよね(笑),False,2020,3,5,18,18:56:53
426478,823465721422192641,2020-03-05,とりあえずでまだまだ新しい家具届かんからちぐはぐハウスだな(´-ω-`) https://t...,False,2020,3,5,18,18:55:12
426988,2860677764,2020-03-05,ワァァァァークマン来たらグラセフで田舎街に来ると走ってるようなボディパネルの色がちぐはぐな車...,False,2020,3,5,18,18:53:22
428200,1081906969747763205,2020-03-05,ちぐはぐ。禁煙に取り組む方を応援！一方で、主要駅の駅前に喫煙所設置(案)。どっちやねん！禁煙...,False,2020,3,5,18,18:48:50
429207,158681360,2020-03-05,アニメ7話の感想です！みんなで修行開始！わちゃわちゃホームコメディ満載のテンポの良さが楽しい...,False,2020,3,5,18,18:44:56
429413,4742548993,2020-03-05,北村先生の明瞭な文章とそれに絡むアカウントのちぐはぐな文章との違いを見るだけで、現代文の学習...,False,2020,3,5,18,18:44:07
431359,1198999394844135430,2020-03-05,サイコキャットこと、いろはにピッタリの歌詞があったｗ曲名分かるかな？正常本能♬毎週開花♬躍る...,False,2020,3,5,18,18:37:05
431643,119372365,2020-03-05,ホント今頃って感じだよね。もう日本も色んな国から入国拒否もされてようやく過ぎる感じね。どうも...,False,2020,3,5,18,18:36:07
434237,3012556268,2020-03-05,@onnajidesu 靴の取り違えは逆MENSAあるあるのようです！👞🤤会合ではみんなの靴...,False,2020,3,5,18,18:27:27
435760,1134451106535202816,2020-03-05,@___yu7 ちぐはぐ恋模様主人公ぶっとんでておもしろいからおすすめ,False,2020,3,5,18,18:22:09
437548,171476271,2020-03-05,国の追悼式やらないのに、福島に行くって、なんかちぐはぐ,False,2020,3,5,18,18:15:30
438326,620068157,2020-03-05,@Memepeperon それだぁぁぁあそして人の波長や雰囲気を深読みして知識と器量フル稼働...,False,2020,3,5,18,18:12:37
438856,805558595496513536,2020-03-05,中国、韓国、というところからして、排外的な右派支持層へのアピールっぽい。イランは？イタリアは...,False,2020,3,5,18,18:10:53
438871,493685339,2020-03-05,@suzunonerena 最初と最後の文章で言ってることがちぐはぐすぎて怖い…お風呂入れな...,False,2020,3,5,18,18:10:51
439513,3269559206,2020-03-05,脳内設定としては建造→譲渡元で一度改修→退役→譲渡→我が国で再改修→再就役といった経緯をたど...,False,2020,3,5,18,18:08:30
475124,908289362,2020-03-05,《政府の対応のちぐはぐさが浮き彫りに》!!「今の法律で出来る」特措法改正、野党から注文続々 ...,False,2020,3,5,15,15:18:01
511646,2326281296,2020-03-05,レジストリが逝ったかなと思ったら、読み込み順がちぐはぐになってた,False,2020,3,5,12,12:18:12
523228,761086270873346050,2020-03-05,てかカナダ入国〜の記事、見出しと内容がちぐはぐでいまいち文意が掴めないのだが……本文読む限り...,False,2020,3,5,11,11:18:47
552807,2791242499,2020-03-05,POPに役割とは（その２）いろんな目的とデザインのPOPが混在するのが普通です。部分最適にな...,False,2020,3,5,8,08:18:08
606680,2309837893,2020-03-05,全てがちぐはぐなのに奇跡的に完成されてる謎アニメ見つけてしまった…なんなんだ…,False,2020,3,5,0,00:18:37

In [ ]:
# *************************************************************

# Filter V4 by 'エロい' - Day

In [6]:
# filetypes = ['T', 'D', 'A', 'V', 'F', 'C']
def filterV4(dfors, filetype, savedir, key_lang, filt_flag):
    # Prepartion of dfw 
    results = []
    dfs = []
    dfw = pd.read_csv('../data/WordTimeSeries.csv', encoding='utf-8').rename(columns={'Unnamed: 0': 'types',
                                                                                    'file name': 'file_name', 
                                                                                    'orignal form': 'orignal_form',
                                                                                    'English translation': 'English_translation'})
    booleanDictionary = {True: 'TRUE', False: 'FALSE'} # Drop nan and False in order to use query 
    dfw = dfw.replace(booleanDictionary)
    dfw = dfw.dropna(how='all')
    
    # Prepration of keywords
    filenames = [filename for filename in dfw.file_name.tolist() if filetype in filename]
    xd = {}
    xd['T'] = 'file_name.str.contains("T")'
    xd['D'] = 'file_name.str.contains("D")'
    xd['A'] = 'file_name.str.contains("A")'
    xd['V'] = 'file_name.str.contains("V")'
    xd['F'] = 'file_name.str.contains("F")'
    xd['C'] = 'file_name.str.contains("C")'
    
    query = xd[filetype]
    dfw_c = dfw.query(query, engine='python')
    if key_lang == 'jp':
        keywords = dfw_c.orignal_form.tolist() # English.ver: keywords = dfw_c.English_translation.tolist() 
    elif key_lang == 'en':
        keywords = dfw_c.English_translation.tolist() 
    else:
        print('Put accurate keyword language')
            
    # Find tweets
    for i, dfor in tqdm(enumerate(dfors)):
         # Extract tweet
        dfor_c = dfor[dfor['tweet'].str.contains('|'.join(keywords))]
        
        # Add columns of keywords whose cell have 1 if this tweet includes a keyword 
        for col, key in zip(filenames, keywords):
            l = []
            for row in dfor_c.itertuples():
                if key in row.tweet:
                    l.append(1)
                else:
                    l.append(0)
            dfor_c[col] = l
        
        d4 = dfor_c[dfor_c.V4 == 1]
        
        # Finally Connect dfs
        if i == 0:
            dfnew = d4
        else:
            dfnew = pd.concat([dfnew, d4], axis=0)
    
    
    # DF Only V4
    d4 = dfnew[dfnew.V4 == 1].drop(['V1', 'V2', 'V3', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20'], axis = 1)
    if filt_flag:
        # Remove 'エロい'
        d4_without_eroi = d4[~d4['tweet'].str.contains('エロい', na = False)]
        outname = 'V4b.csv'
    else:
        d4_without_eroi = d4
        outname = 'V4a.csv'

     # Make rows
    uni_dates = d4_without_eroi['date'].tolist()
    uni_dates = sorted(set(uni_dates), key=uni_dates.index) # date values
    rows = []
    for date in uni_dates:
        r = d4_without_eroi.groupby('date').get_group(date).V4.sum()
        rows.append(r)
    data = np.array([uni_dates, rows]).T
    # columns
    cols = ['date', 'V4']
    # Create DataFrame
    dft = pd.DataFrame(data, columns=cols).groupby('date').sum()
    
    # Save to csv
    outdir = savedir
    if not os.path.exists(outdir):
            os.makedirs(outdir)
    savename = os.path.join(outdir, outname)
    dft.to_csv(savename)
            
    return dft

In [8]:
# OR
filetypes = ['V']
for filetype in filetypes:
    d4_without_eroi = filterV4(dfors, filetype=filetype, savedir='../new_results_jst2/orjp/day', key_lang='jp', filt_flag=True)

0it [00:00, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
10it [00:45,  4.54s/it]

In [7]:
# RT
filetypes = ['V']
for filetype in filetypes:
    d4_without_eroi = filterV4(dfrts, filetype=filetype, savedir='../new_results2/rtjp/day', key_lang='jp', filt_flag=True)

0it [00:00, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
10it [00:31,  3.20s/it]

In [15]:
d4_without_eroi

              V4
date
2020-01-31   568
2020-02-01  2336
2020-02-02  2898
2020-02-03  2461
2020-02-04  2492
2020-02-05  2403
2020-02-06  2268
2020-02-07  2005
2020-02-08  2171
2020-02-09  2688
2020-02-10  2278
2020-02-11  2664
2020-02-12  2307
2020-02-13  2393
2020-02-14  2275
2020-02-15  2232
2020-02-16  2919
2020-02-17  2412
2020-02-18  4712
2020-02-19  2487
2020-02-20  2409
2020-02-21  2447
2020-02-22  2337
2020-02-23  2517
2020-02-24  2786
2020-02-25  2716
2020-02-26  3291
2020-02-27  3323
2020-02-28  2891
2020-02-29  2062

# Filter V4 by 'エロい' - hour

In [14]:
# filetypes = ['T', 'D', 'A', 'V', 'F', 'C']
def findtwt_hour(dfors, filetype, savedir, key_lang, filt_flag):
    # Prepartion of dfw 
    results = []
    dfs = []
    dfw = pd.read_csv('../data/WordTimeSeries.csv', encoding='utf-8').rename(columns={'Unnamed: 0': 'types',
                                                                                    'file name': 'file_name', 
                                                                                    'orignal form': 'orignal_form',
                                                                                    'English translation': 'English_translation'})
    booleanDictionary = {True: 'TRUE', False: 'FALSE'} # Drop nan and False in order to use query 
    dfw = dfw.replace(booleanDictionary)
    dfw = dfw.dropna(how='all')

    # Prepration of keywords
    filenames = [filename for filename in dfw.file_name.tolist() if filetype in filename]
    xd = {}
    xd['T'] = 'file_name.str.contains("T")'
    xd['D'] = 'file_name.str.contains("D")'
    xd['A'] = 'file_name.str.contains("A")'
    xd['V'] = 'file_name.str.contains("V")'
    xd['F'] = 'file_name.str.contains("F")'
    xd['C'] = 'file_name.str.contains("C")'

    query = xd[filetype]
    dfw_c = dfw.query(query, engine='python')
    
    # Keyword 
    if key_lang == 'jp':
        keywords = dfw_c.orignal_form.tolist() # English.ver: keywords = dfw_c.English_translation.tolist() 
    elif key_lang == 'en':
        keywords = dfw_c.English_translation.tolist() 
    else:
        print('Put accurate keyword language')
    
    # Find tweets
    for i, dfor in tqdm(enumerate(dfors)):
        # Extract tweet
        dfor_c = dfor[dfor['tweet'].str.contains('|'.join(keywords))]

        for col, key in zip(filenames, keywords):
            l = []
            for row in dfor_c.itertuples():
                if key in row.tweet:
                    l.append(1)
                else:
                    l.append(0)
            dfor_c[col] = l
#         dfs.append(dfor_c)
        
        d4 = dfor_c[dfor_c.V4 == 1]
        
        # Finally Connect dfs
        if i == 0:
            dfnew = d4
        else:
            dfnew = pd.concat([dfnew, d4], axis=0)
            

    # DF Only V4
    d4 = dfnew[dfnew.V4 == 1].drop(['V1', 'V2', 'V3', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20'], axis = 1)
    if filt_flag:
        # Remove 'エロい'
        d4_without_eroi = d4[~d4['tweet'].str.contains('エロい', na = False)]
        outname = 'V4b_hour.csv'
    else:
        d4_without_eroi = d4
        outname = 'V4a_hour.csv'
        
    # Create csv file by day
    all_df = []
    nextdf, nextdf_date = '', ''
    
    # Save dir
    outdir = savedir
    if not os.path.exists(outdir):
            os.makedirs(outdir)

#     for i, df in enumerate(dfs):
    df = d4_without_eroi
    unique_dates = df['date'].tolist()
    unique_dates = sorted(set(unique_dates), key=unique_dates.index) # date values
    df_date = df.groupby('date') # df grouped by date   

    for date in unique_dates:
        df_oneday = df_date.get_group(date) # df of one day
        dfh = df_oneday.groupby('hour').sum()
        dfh = dfh.drop(['year', 'month', 'user_id', 'RT_flag', 'day'],axis=1)

        # Save csv
        outname = filetype+str(date)+'.csv'
        savename = os.path.join(outdir, outname)

        if os.path.exists(savename):
            # File1
            existedfile = pd.read_csv(savename)
            # いったんcsvにする
            _saveonce = 'once.csv'
            dfh.to_csv(_saveonce)
            # File2 
            once = pd.read_csv(_saveonce)
            # Concat 
            df_oneday1 = pd.concat([existedfile, once], axis=0)
            # Finally save
            dfh = df_oneday1.groupby('hour').sum()

        # Save to csv
        dfh.to_csv(savename)

In [15]:
# Orjp
filetypes = ['V']
# filetypes = ['D', 'A', 'V', 'F', 'C']
for filetype in filetypes:
    findtwt_hour(dfors, filetype=filetype, savedir='testV4hour', key_lang='jp', filt_flag=True)

0it [00:00, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
10it [00:40,  4.00s/it]

In [18]:
test = pd.read_csv('testV4hour/V2020-03-15.csv')
real = pd.read_csv('../new_results_jst2/orjp/day/V4b.csv')

In [31]:
real.loc[14, 'V4']

2985

In [32]:
test.V4.sum()

2985.0

In [35]:
path = '../new_results2/orjp/day/'
a = pd.read_csv(path+'V4a.csv').rename(columns={'V4': 'V4b'})
b = pd.read_csv(path+'V4b.csv').rename(columns={'V4': 'V4b'})

d = pd.concat([a, b.V4b], axis =1, join='inner')
d.diff(axis=1)

   date  V4b     V4b
0   NaN  NaN     0.0
1   NaN  NaN    -2.0
2   NaN  NaN     0.0
3   NaN  NaN    -2.0
4   NaN  NaN    -1.0
5   NaN  NaN     0.0
6   NaN  NaN    -1.0
7   NaN  NaN    -1.0
8   NaN  NaN    -2.0
9   NaN  NaN    -4.0
10  NaN  NaN    -1.0
11  NaN  NaN     0.0
12  NaN  NaN    -1.0
13  NaN  NaN    -1.0
14  NaN  NaN     0.0
15  NaN  NaN -8465.0
16  NaN  NaN     0.0
17  NaN  NaN    -2.0
18  NaN  NaN     0.0
19  NaN  NaN     0.0
20  NaN  NaN     0.0
21  NaN  NaN    -1.0
22  NaN  NaN     0.0
23  NaN  NaN    -1.0
24  NaN  NaN    -1.0
25  NaN  NaN    -1.0
26  NaN  NaN    -1.0
27  NaN  NaN     0.0
28  NaN  NaN     0.0
29  NaN  NaN    -1.0
30  NaN  NaN    -2.0
31  NaN  NaN     0.0

In [29]:
d = pd.concat([a, b.V4b], axis =1, join='inner')
d.diff(axis=1)

In [28]:
d.diff(axis=1)

   date  V4b  V4b
0   NaN  NaN  0.0
1   NaN  NaN  0.0
2   NaN  NaN -2.0
3   NaN  NaN  0.0
4   NaN  NaN  0.0
5   NaN  NaN  0.0
6   NaN  NaN  0.0
7   NaN  NaN  0.0
8   NaN  NaN  0.0
9   NaN  NaN  0.0
10  NaN  NaN -1.0
11  NaN  NaN  0.0
12  NaN  NaN  0.0
13  NaN  NaN  0.0
14  NaN  NaN  0.0
15  NaN  NaN  0.0
16  NaN  NaN  0.0
17  NaN  NaN  0.0
18  NaN  NaN  0.0
19  NaN  NaN  0.0
20  NaN  NaN  0.0
21  NaN  NaN  0.0
22  NaN  NaN  0.0
23  NaN  NaN -1.0
24  NaN  NaN  0.0
25  NaN  NaN  0.0
26  NaN  NaN  0.0
27  NaN  NaN  0.0
28  NaN  NaN  0.0
29  NaN  NaN  0.0